/* Elementos del HTML */

body {
    line-height: 1;
    color: black;
    /*background: repeat-x url(../img/background.png) bottom #dee6f1;*/
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a img {
    border: 0;
}

a:hover {
    text-decoration: underline;
}

/* Clases generales */

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

/* Encabezado */

#header {
    clear: both;
    background-color: white;
    height: 110px;
    padding-top: 1px;
}

h1.logo a {
    display: block;
    height: 92px;
    width: 150px;
    background: url(../img/logo.jpg) no-repeat;
    text-indent: -9999px;
    float: left;
}

/* Barra superior del contenido */

#topcontent {
    clear: both;
    padding: 3px 0px;
    border-bottom:solid 1px #DEDEDE;
    background-color: white;
}

h1.module_name {
    font-size: large;
    font-weight: bold;
    color: black;
    float: left;
}

#topcontent ul
{
    list-style: none;
    display: inline-block;
}

#topcontent ul li
{
    float:left;
    margin-right:2px;
    vertical-align: middle;
}

.module_operation
{
    top: 1px;
    position: relative;
    color: #088308;
    font-size: 100%;
}

.module_operation > img
{
    float: left;
    position: relative;
}

div.module_search
{
    float: right;
    position: relative;
    top: 10px;
}

input.module_search
{
    width: 250px;
}

/* Contenido de la página */

#content {
    clear: both;
    padding: 10px 5px;
}

.left_panel {
    float: left;
    clear: left;
    width: 150px;
}
.right_panel {
    float: left;
    clear: right;
    width: 800px;
}

h3.content_title {
    padding: 0;
    margin:0 0 5px 0;
    font-size: 120%;
}

.left_panel > ul {
    list-style-type: none;
    margin:5px -30px;
}

.one_panel {
    background-color: white;
    border: solid 1px #DEDEDE;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.content_operation{
    display: block;
    float: left;
    clear: right;
    color: #3c5aa8;
    padding: 0;
    margin: 0;
}

.content_operation > img
{
    float: left;
    position: relative;
}

/* Pie de página */

#footer {
    clear: both;
    padding: 10px 0px;
    text-align: center;
    font-size: small;
    color: #666666;
    width: 100%;
}

/* Información de ingreso */

.you {
    text-align: right;
    float: right;
}

.you ul.not_logged_in {
    margin-top: 60px;
}

.you ul li {
    display: inline;
    margin-left: 10px;
}

.you ul.not_logged_in li a {
    font-size: 18px;
}

.you ul.logged_in {
    margin-top: 10px;
}

/* Tabs */

ul.tab, ul.tab li {
    border:0;
    margin:0;
    padding:0;
    list-style:none;
}
ul.tab {
	border-bottom:solid 1px #DEDEDE; 
	height:29px; 
	top: 65px;
	position: relative;
	padding-left: 20px;
	font-size: 120%;
}
    
ul.tab li{float:left; margin-right:2px;}
ul.tab a:link, ul.tab a:visited{
	background:url(../img/tab-round.png) right 60px;
	color:#666666;
	display:block;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
}
ul.tab a span{
	background:url(../img/tab-round.png) left 60px;
	display:block;
	height:30px;
	margin-right:14px;
	padding-left:14px;
}
ul.tab a:hover{
	background:url(../img/tab-round.png) right 30px;
	display:block;
}
ul.tab a:hover span{
	background:url(../img/tab-round.png) left 30px;
	display:block;
}

ul.tab li.active a, .active a:visited, .active a:visited, .active a:hover{
	background:url(../img/tab-round.png) right 0 no-repeat;
} 
ul.tab li.active a span, ul.tab li.active a:hover span{
	background:url(../img/tab-round.png) left 0 no-repeat;
}





